html, body {
  font-family: 'Lato', sans-serif;
  color: #666;
  font-size: 16px;
  overflow-x: hidden;
}
/* bootstrap modifications */
.container-fluid {
  padding: 0;
}
.row {
  text-align: center;
  padding-left: 0;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}
.img-responsive {
  display: inline-block;
}

/* sections */
#landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/energydrink_footage_07-min.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
  padding: 40px 0;
  color: white;
  display: block;
  min-height: 450px;
}

#navbar {
  margin-bottom: 20px;
}
.navbar {
  max-height: 74px;
  height: 74px;
}
.navbar .container {
  position: relative;
  z-index: 2;
}
/* logo */
.logo-white {
  height: 50px;
}
.navbar-header {
  margin-bottom: 2%;
}
.navbar-default,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-nav {
  float:right;
  margin-top: 0;
}
.navbar-brand {
  padding: 0 15px;
}
.nav>li>a:link,
.nav>li>a:visited {
  padding: 0;
  padding-bottom: 2px;
  margin: 15px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  opacity: 1;
  border-bottom: 2px solid #E74C3C;
  color: #fff;
}
.landing-text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding-bottom: 20px;
}
.landing-text h1 {
  font-size: 4em;
  font-weight: 300;
  color: #E74C3C;
}
.landing-text h2 {
  font-size: 3em;
  font-weight: 300;
}

.landing-text .lead {
  opacity: 0.8;
  margin-top: 2em;
}

#production {
  background-color: #ecf0f1;
}
#image-row {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/energydrink_footage_04-min.jpg");
  background-position: bottom;
  background-attachment: fixed;
  border-bottom: 1px solid #e7e7e7;
}
#production .col-sm-4,
#production .col-sm-6,
#production .col-md-2 {
  padding-left: 0;
}
#production li {
  list-style: none;
  padding-bottom: 5%;
  padding-right: 0;
  padding: 5px;
}
#production li p {
  text-transform: uppercase;
}
#production p {
  display: block;
}
#production img {
  width: 50px;
  height: 80px;
}
.svg {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.01s;
  -moz-animation-duration: 1s;
  -moz-aanimation-delay: 0.01s;
  animation-duration: 1s;
  animation-delay: 0.01s;
  -o-animation-duration: 1s;
  -o-aanimation-delay: 0.01s;
  visibility: hidden;
}

#variants {
  color: #E74C3C;
}
#variants h2 {
  font-size: 2em;
  font-weight: 300;
}
#variants h2::after {
  display: block;
  height: 2px;
  background-color: #E74C3C;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
#dosen {
  padding-top: 0;
  padding-bottom: 0;
}
#dosen img {
  padding-bottom: 10%;
  visibility: hidden;
}

#order {
  color: white;
  background-image: linear-gradient(rgba(231, 76, 60, 0.8), rgba(231, 76, 60, 0.8)), url("../img/energydrink_footage_01-min.jpg");
  background-size: cover;
  background-color: #ecf0f1;
}
#order #form-intro {
  height: 100%;
}
#order #form-controls {

}
form {
  max-width: 500px;
  margin: 0 auto;
}
.form-control {
  height: auto;
}
.radio-inline {
  padding-left: 0;
}
label {
  display: block;
  font-weight: 400;
  color: #666;
}
#main-label {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #E74C3C;
  text-transform: uppercase;
}
#form-controls label > input {
  visibility: hidden;
}
#form-controls label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  height: 150px;
}
.product {
  display: block;
  margin: 20px auto;
}
#order > div:nth-child(2) {
  padding-top: 0;
}
#form-controls label > input:checked + img {
  border: 2px solid #E73C3C;
}
.help-block li {
  color: white;
}
#submit-btn {
  text-transform: uppercase;
  color: white;
  background: none;
  border: 2px solid white;
}
#thank-you {
  display: none;
  text-transform: uppercase;
}
#in-stock {
  color: #E74C3C;
  padding-bottom: 5%;
}

footer {
  background-color: #383838;
  color: white;
  opacity: 0.8;
}
footer a:link,
footer a:visited {
  padding: 0;
  padding-bottom: 2px;
  margin: 15px;
  text-transform: uppercase;
  color: #fff;
  opacity: .7;
}
footer a:focus,
footer a:hover {
  text-decoration: none;
  background-color: transparent;
  opacity: 1;
  border-bottom: 2px solid #E74C3C;
  color: #fff;
}
